@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Titillium+Web&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Zen+Tokyo+Zoo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 2px;
    padding: 2px;
}

body {
      background-color: rgba(224, 97, 0, 0.904);
      background-image: linear-gradient(90deg,rgba(153, 62, 1, 0.541), rgba(255, 128, 0, 0.664), rgba(127, 0, 224, 0.74));
      text-align: center;
}

article {
    display: inline-block;
    padding: 15px;
    box-shadow: inset 1px 2px 2px 2px rgba(153, 62, 1, 0.541);
    border-radius: 3px;

}
    
/* article:hover#img01{
    background-image: url(./imagens/fiesp-350.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: scale(1.3);
}
*/

section{
    margin: 2px;
}

section > p {
    padding: 7px;
}

main{
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: black;  
    font-family: 'JetBrains Mono', monospace;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    padding: 20px;

}

h2{
    background-color: rgba(0, 0, 0, 0.103);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    border-radius: 7px;
    padding: 1px;
    margin: 0px;
}

p {
    text-align: center;
    text-decoration:solid;
}

div.midia > iframe {
    position: relative;
    padding: 10px;
}

a { 
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

footer{
    text-decoration: solid;
    padding: 10px;
}


      /* Color Theme Swatches in Hex */
      .Projeto-teste-1-hex { color: #993E01; }
      .Projeto-teste-2-hex { color: #FF8100; }
      .Projeto-teste-3-hex { color: #E06100; }
      .Projeto-teste-4-hex { color: #7E00E0; }
      .Projeto-teste-5-hex { color: #000000; }
      
      /* Color Theme Swatches in RGBA */
      .Projeto-teste-1-rgba { color: rgba(153, 62, 1, 1); }
      .Projeto-teste-2-rgba { color: rgba(255, 129, 0, 1); }
      .Projeto-teste-3-rgba { color: rgba(224, 97, 0, 1); }
      .Projeto-teste-4-rgba { color: rgba(126, 0, 224, 1); }
      .Projeto-teste-5-rgba { color: rgba(0, 0, 0, 1); }
      
      /* Color Theme Swatches in HSLA */
      .Projeto-teste-1-hsla { color: hsla(24, 98, 30, 1); }
      .Projeto-teste-2-hsla { color: hsla(30, 100, 50, 1); }
      .Projeto-teste-3-hsla { color: hsla(25, 100, 43, 1); }
      .Projeto-teste-4-hsla { color: hsla(273, 100, 43, 1); }
      .Projeto-teste-5-hsla { color: hsla(0, 0, 0, 1); };